@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic);

body {
    background-color: rgba(0,0,0,0.75);
}

h1{
    color: rgb(75,200,255);
    font-family: 'Cookie', 'Rancho', cursive;
    text-align: center;
    font-size: 40px;
}
h3{
	color: rgb(00,255,00);
    font-family: 'Cardo', 'Old Standard TT', serif;
    font-style: italic;
    text-align: left;
}
p {
	color: rgb(00,255,00);
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
ul {
	color: rgb(255,00,00);
    font-family: helvetica;
    text-align: center;
    list-style-type: none;
}
.description {
	font-size: 20px;
}
a {
	text-decoration: none;
	color: rgb(75,200,255);	
}
#important {
	color:rgb(255,0,0);	
	font-weight: bold;
	font-size: 17px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}